<p>Please state the priority you want for your city to live</p>
<ol>
  <li>
    costs
  </li>
  <li>
    education
  </li>
  <li>
    pollution
  </li>
  <li>
    security
  </li>
  <li>
    transportation
  </li>
<ol>
