<h1>Choice#check</h1>
<p>Find me in app/views/choice/check.html.erb</p>
<ul>
  <li>
    costs
  </li>
  <li>
    education
  </li>
  <li>
    pollution
  </li>
  <li>
    security
  </li>
  <li>
    transportation
  </li>
<ul>
