<h1>Here are the results of your choice</h1>

<%#<table>%>
  <%#<tr>%>
    <%#<th>City name</th>%>
    <%#<th>Grade</th>%>
  <%#</tr>%>

<%#<% @cities.each do |city| %>%>
  <%#<tr>%>
    <%#<td><%= city.name %></td>%>
    <%#<td><%= city.transportation %></td>%>
  <%#</tr>%>
<%#<% end %>%>
<%#</table>%>

<br />

