<h1>Here are the results of your choice</h1>

<table>
  <tr>
    <th>City name</th>
    <th>Grade</th>
  </tr>

<% @grades.each do |city_grade| %>
  <tr>
    <td><%= city_grade[0].name %></td>
    <td><%= city_grade[1] %></td>
  </tr>
<% end %>
</table>

<br />

