// Place all the styles related to the choice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sum {
  display: block;
  text-decoration: underline;
  margin-left: 14%;
  margin-top: 1%;
  text-decoration: bold;
  font-weight: bold;
}



input[value='Calculate']{
  margin-top: 4%;
  margin-left: -10%;
}

.new_city{
  label{
    width: 10%;
    float:left;
  }
}
