// Place all the styles related to the choice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sum{
  color: blue;
  display: block;
  text-decoration: underline;
  margin-left: 15%;
  margin-top: 1%;
  text-decoration: bold;
  font-weight: bold;
}

